parameters:
    level: 5
    paths:
        - src/
        - core/
        - pdf-builder-pro.php
        - bootstrap.php
    excludePaths:
        - vendor/
        - lib/
        - assets/
        - languages/
        - uploads/
        - tools/
        - tests/
        - docs/
        - wordpress-stubs/
        - woocommerce-stubs/
    scanDirectories:
        - wordpress-stubs/
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
        -
            message: '#Call to method .* on an unknown class TCPDF\.#'
        -
            message: '#Instantiated class TCPDF not found#'
        -
            message: '#Constant .* not found#'
        -
            message: '#Function .* not found\.#'
        -
            message: '#Class .* not found\.#'
        -
            message: '#Call to method .* on an unknown class WC_Order\.#'
        -
            message: '#Parameter .* has invalid type WC_Order\.#'
        -
            message: '#Property .* has unknown class WC_Order as its type\.#'
        -
            message: '#Parameter .* has invalid type WC_DateTime\.#'
        -
            message: '#Class WC_DateTime not found\.#'
        -
            message: '#Access to property .* on an unknown class WP_Post\.#'
        -
            message: '#Cannot instantiate class .* via private constructor.*#'
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false