<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="bootstrap.php"
    colors="true"
    verbose="true"
    stopOnFailure="false"
    backupGlobals="false"
    backupStaticAttributes="false"
>
    <testsuites>
        <testsuite name="PDF Builder Tests">
            <directory>./</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">../plugin/</directory>
            <exclude>
                <directory>../plugin/vendor/</directory>
                <directory>../plugin/templates/</directory>
                <directory>../plugin/assets/</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./coverage" />
        <log type="junit" target="./junit.xml" />
    </logging>
</phpunit></content>
<parameter name="filePath">i:\wp-pdf-builder-pro\tests\phpunit.xml